include _mixins/_mixins.pug

doctype html
html 
  head 
    title PUG-template
    base(href="/")
    meta(charset="UTF-8")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#fafafa")
    meta(name="msapplication-navbutton-color" content="#fafafa")
    meta(name="apple-mobile-web-app-status-bar-style" content="#fafafa")
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
    link(rel="stylesheet" href="css/style.min.css")
  body
  
    .wrapper 
      header.header(style="text-align: center; padding: 25px 0; font-size: 28px; text-transform: uppercase; background-color: #fafafa; color: #111") Header
      .content(style="text-align: center; padding: 25px 0; font-size: 28px; text-transform: uppercase;") Content
      footer.footer(style="text-align: center; padding: 25px 0; font-size: 28px; text-transform: uppercase; background-color: #333; color: #fff") Footer

    <!--[if lt IE 9]>
      script(src="libs/html5shiv/es5-shim.min.js")
      script(src="libs/html5shiv/html5shiv.min.js")
      script(src="libs/html5shiv/html5shiv-printshiv.min.js")
    <![endif]-->

    script(src="js/scripts.min.js")